name: dfimage-test

on:
  push:
    branches: [ master ]
    paths:
      - Dockerfile
      - entrypoint.*
      - requirements.txt
  pull_request:
    branches: [ master ]
    paths:
      - Dockerfile
      - entrypoint.*
      - requirements.txt
  workflow_dispatch:

env:
  TEST_TAG: laniksj/dfimage:test
  LATEST_TAG: laniksj/dfimage:latest

jobs:
  dfimage-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Export to Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
      -
        name: Test Docker Container
        run: |
          docker pull alpine:latest && docker run -v /var/run/docker.sock:/var/run/docker.sock --rm ${{ env.TEST_TAG }} alpine:latest
