name: Dockerfile Image Test

permissions:
  contents: read
  packages: read

on:
  push:
    branches: [ master ]
    paths:
      - Dockerfile
      - dfimage.*
      - pyproject.toml
  pull_request:
    branches: [ master ]
    paths:
      - Dockerfile
      - dfimage.*
      - pyproject.toml
  workflow_dispatch:

env:
  TEST_TAG: laniksj/dfimage:test
  IMAGE_TEST: alpine:latest

jobs:
  dfimage-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and Export to Docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          load: true
          tags: ${{ env.TEST_TAG }}
      
      - name: Pull Docker Image for Test
        run: docker pull ${{ env.IMAGE_TEST }}

      - name: Test Docker Container
        run: |
          docker run -v /var/run/docker.sock:/var/run/docker.sock --rm ${{ env.TEST_TAG }} ${{ env.IMAGE_TEST }}

      - name: Install with pipx
        run: pipx install .

      - name: Test pipx Install
        run: dfimage laniksj/dfimage:test
