name: Lock Threads

on:
  push:
    paths:
      - .github/workflows/lock-threads.yml
    branches-ignore:
      - dependabot/**
  schedule:
    # Once every month on 2nd at 04:45 UTC
    - cron: "45 4 2 * *"
  issue_comment:
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write
  discussions: write

concurrency:
  group: lock-threads

jobs:
  lock-threads:
    runs-on: ubuntu-latest
    steps:
      - name: Lock Outdated Threads
        uses: dessant/lock-threads@7266a7ce5c1df01b1c6db85bf8cd86c737dadbe7 # v6.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          process-only: 'issues, prs'
          issue-inactive-days: 30
          add-issue-labels: 'outdated'
          pr-inactive-days: 30
          add-pr-labels: 'outdated'
