name: Publish to PyPI

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      publish_target:
        description: 'Publish Target (pypi, dry-run)'
        required: true
        default: 'dry-run'
        type: choice
        options:
          - dry-run
          - pypi

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
      - name: Check Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install -U pip
          pip install build twine

      - name: Build Package
        run: python -m build

      - name: Check Built Package
        run: twine check dist/*

      - name: Upload Python Package Dist Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: python-package-dist
          path: dist

  pypi-publish:
    name: Upload Release to PyPI
    runs-on: ubuntu-latest
    needs: build-wheel
    if: github.event.inputs.publish_target == 'pypi'
    environment:
      name: pypi
      url: https://pypi.org/p/dfimage
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Download Python Package Dist Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: python-package-dist
          path: dist
      - name: Publish Package Distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
