name: Restyled

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types:
      - opened
      - reopened
      - closed
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  restyle-pr:
    name: Restyle PR for Main Repository
    if: |
      github.event.action != 'closed' &&
      github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Setup Restyled
        uses: restyled-io/actions/setup@e1899ce1399cb436c085ed39cd6fd0f92101f6dd # v4.4.6
      - name: Run Restyled
        id: restyler
        uses: restyled-io/actions/run@e1899ce1399cb436c085ed39cd6fd0f92101f6dd # v4.4.6
        with:
          fail-on-differences: true

      - name: Create Restyled PR
        if: ${{ !cancelled() && steps.restyler.outputs.success == 'true' }}
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          base: ${{ steps.restyler.outputs.restyled-base }}
          branch: ${{ steps.restyler.outputs.restyled-head }}
          title: ${{ steps.restyler.outputs.restyled-title }}
          body: ${{ steps.restyler.outputs.restyled-body }}
          labels: "restyled"
          reviewers: ${{ github.event.pull_request.user.login }}
          delete-branch: true

  restyle-fork:
    name: Restyle PR for Forks
    if: |
      github.event.action != 'closed' &&
      github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Setup Restyled
        uses: restyled-io/actions/setup@e1899ce1399cb436c085ed39cd6fd0f92101f6dd # v4.4.6
      - name: Run Restyled
        uses: restyled-io/actions/run@e1899ce1399cb436c085ed39cd6fd0f92101f6dd # v4.4.6
        with:
          fail-on-differences: true

  cleanup-restyled-prs:
    name: Cleanup Restyled PRs
    if: ${{ github.event.action == 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Restyled
        uses: restyled-io/actions/setup@e1899ce1399cb436c085ed39cd6fd0f92101f6dd # v4.4.6
      - name: Run Restyled
        id: restyler
        uses: restyled-io/actions/run@e1899ce1399cb436c085ed39cd6fd0f92101f6dd # v4.4.6
      - name: Close Restyled PR
        run: gh --repo "$REPO" pr close "$BRANCH" --delete-branch || true
        env:
          REPO: ${{ github.repository }}
          BRANCH: ${{ steps.restyler.outputs.restyled-head }}
          GH_TOKEN: ${{ github.token }}
