name: Update License

on:
  schedule:
    - cron: '0 10 1 1 *' # 10:00 AM on January 1
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  action-update-license-year:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: FantasticFiasco/action-update-license-year@f180e962fa988db222d8f03ef4636750312d1b3d # v3.0.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commitAuthorEmail: noreply@github.com
        id: license
      - name: Merge PR
        if: steps.license.outputs.pullRequestNumber != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr merge --squash --delete-branch ${{ steps.license.outputs.pullRequestNumber }}
